<div class="funcionario-box">
    <button>Cadastrar novo funcionaro</button>
    <div class="imput-box">
        <label>Procurar</label>
        <input type="text" placeholder="Qual registro esta buscando?">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Carlos</td>
            <td>Eduardo</td>
            <td>RH</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>

</table>